PORT=1350
NODE_ENV=development
TZ=America/Manaus

# Banco de Dados
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=hermes
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Primeiro Usuário criado ao subir a aplicação (apenas para desenvolvimento)
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# BETTER-AUTH
AUTH_TRUSTED_ORIGINS=
AUTH_SECRET=
AUTH_BASE_URL=

# Cripografia
MASTER_KEY=