PORT=
NODE_ENV=

# Banco de Dados
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Primeiro Usuário criado ao subir a aplicação (apenas para desenvolvimento)
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Better Auth
AUTH_SECRET=
AUTH_BASE_URL=http://localhost:1350
AUTH_TRUSTED_ORIGINS=http://localhost:3000